<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Students</key>
	<array>
		<dict>
			<key>FirstName</key>
			<string>John</string>
			<key>LastName</key>
			<string>Doe</string>
			<key>DOB</key>
			<string>3/16/1988</string>
			<key>Classes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Civil and Environmental Engineering</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Sociocultural Anthropology</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Native Peoples And Indigenous Rights in South America</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Physics</string>
					<key>Grade</key>
					<string>99</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Biology</string>
					<key>Grade</key>
					<string>98</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>96</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FirstName</key>
			<string>Ralph</string>
			<key>LastName</key>
			<string>Smith</string>
			<key>DOB</key>
			<string>3/16/1989</string>
			<key>Classes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Physics</string>
					<key>Grade</key>
					<string>76</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Biology</string>
					<key>Grade</key>
					<string>77</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>History</string>
					<key>Grade</key>
					<string>78</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
